# Files to be kept under a git clean -f
.code-workspace.code-workspace
.gitignore
.vscode
build*
.*
*.00*0
cases/tm5_ifs/microhh
cases/tm5_ifs/*.png
*.nc
*.gif
*.mpeg
cases/tm5_ifs/__pycache__/microhh_tools.cpython-38.pyc
*.png
cases/jaenswalde/jaenswalde.out
cases/jaenswalde/microhh
